.vs
.vsc
.idea
.vscode
.DS_Store
.vsconfig
*.zip
*.rar
*.doc
*.docx
*.ppt
*.pptx
*.xlsx
*.csv


# ue temp dir to ignore
Binaries
DerivedDataCache
Intermediate
Saved

Build
UltraDynamicSky
Plugins/DLSS
Plugins/DLSSMoviePipelineSupport
Plugins/NIS
Plugins/Streamline
audio_Filter
*.sln


